In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [2]:
data = 'https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv'

In [3]:
!wget $data -O data-3.csv

--2023-09-27 09:03:13--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: 'data-3.csv'

     0K .......... .......... .......... .......... ..........  3%  469K 3s
    50K .......... .......... .......... .......... ..........  6%  633K 2s
   100K .......... .......... .......... .......... .......... 10% 1.48M 2s
   150K .......... .......... .......... .......... .......... 13%  603K 2s
   200K .......... .......... .......... .......... .......... 17%  644K 2s
   250K .......... .......... .......... .......... .......... 20%  641K 2s
   300K .......... .......... .......... .......... .......... 24% 1.16M 2s
   350K .......... .......... .......... .......... .......... 27%  589K 2s
   400K .......... .......... .......... .......... .......... 31%  643K 1s
   450K .......... .......... .......... .......... .......... 34%  625K 1s
   500K .......... .......... .......... .......... .......... 38%  645K 1s
   550K .......... .......... .......... .......... .......... 41% 1.28M 1s
   600K .......... .......... .......... .......... .......... 45%  554K 1s
   650K .......... .......... .......... .......... .......... 48%  599K 1s
   700K .......... .......... .......... .......... .......... 52%  655K 1s
   750K .......... .......... .......... .......... .......... 55%  567K 1s
   800K .......... .......... .......... .......... .......... 58% 1.21M 1s
   850K .......... .......... .......... .......... .......... 62%  709K 1s
   900K .......... .......... .......... .......... .......... 65%  668K 1s
   950K .......... .......... .......... .......... .......... 69%  554K 1s
  1000K .......... .......... .......... .......... .......... 72%  596K 1s
  1050K .......... .......... .......... .......... .......... 76%  613K 1s
  1100K .......... .......... .......... .......... .......... 79% 1.39M 0s
  1150K .......... .......... .......... .......... .......... 83%  690K 0s
  1200K .......... .......... .......... .......... .......... 86%  576K 0s
  1250K .......... .......... .......... .......... .......... 90%  559K 0s
  1300K .......... .......... .......... .......... .......... 93%  641K 0s
  1350K .......... .......... .......... .......... .......... 97% 1.04M 0s
  1400K .......... .......... .......... ..........           100%  750K=2.1s

2023-09-27 09:03:16 (686 KB/s) - 'data-3.csv' saved [1475504/1475504]

In [35]:
car_data= pd.read_csv('data-3.csv')
car_data.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

### Features
For the rest of the homework, you'll need to use only these columns:

Make,
Model,
Year,
Engine HP,
Engine Cylinders,
Transmission Type,
Vehicle Style,
highway MPG,
city mpg

In [36]:
car_data.columns

Index(['Make', 'Model', 'Year', 'Engine Fuel Type', 'Engine HP',
       'Engine Cylinders', 'Transmission Type', 'Driven_Wheels',
       'Number of Doors', 'Market Category', 'Vehicle Size', 'Vehicle Style',
       'highway MPG', 'city mpg', 'Popularity', 'MSRP'],
      dtype='object')

### Data preparation
Select only the features from above and transform their names using next line:
data.columns = data.columns.str.replace(' ', '_').str.lower()

In [37]:
required_columns= ['Make', 'Model', 'Year', 'Engine HP',
       'Engine Cylinders', 'Transmission Type', 'Vehicle Style',
       'highway MPG', 'city mpg','MSRP']

In [38]:
df=car_data[required_columns]
df

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle Style,highway MPG,city mpg,MSRP
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500
...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,46120
11910,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,56670
11911,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50620
11912,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50920
11913,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,Sedan,26,17,28995

In [39]:
df.columns=df.columns.str.replace(' ', '_').str.lower()
df

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,msrp
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500
...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,46120
11910,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,56670
11911,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50620
11912,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50920
11913,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,Sedan,26,17,28995

### Fill in the missing values of the selected features with 0.

In [40]:
df.isnull().sum()

make                  0
model                 0
year                  0
engine_hp            69
engine_cylinders     30
transmission_type     0
vehicle_style         0
highway_mpg           0
city_mpg              0
msrp                  0
dtype: int64

In [41]:
df=df.fillna(0)

In [42]:
df.isnull().sum()

make                 0
model                0
year                 0
engine_hp            0
engine_cylinders     0
transmission_type    0
vehicle_style        0
highway_mpg          0
city_mpg             0
msrp                 0
dtype: int64

### Rename MSRP variable to price.

In [45]:
df.rename(columns = {'msrp':'price'}, inplace = True)
df.columns

Index(['make', 'model', 'year', 'engine_hp', 'engine_cylinders',
       'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg',
       'price'],
      dtype='object')

## Question 1
What is the most frequent observation (mode) for the column transmission_type?

In [46]:
df.transmission_type.value_counts()

AUTOMATIC           8266
MANUAL              2935
AUTOMATED_MANUAL     626
DIRECT_DRIVE          68
UNKNOWN               19
Name: transmission_type, dtype: int64

In [47]:
df.transmission_type.mode()

0    AUTOMATIC
Name: transmission_type, dtype: object

## Question 2
Create the correlation matrix for the numerical features of your dataset. In a correlation matrix, you compute the correlation coefficient between every pair of features in the dataset.

What are the two features that have the biggest correlation in this dataset?

In [48]:
from sklearn.metrics import mutual_info_score

In [49]:
df.dtypes

make                  object
model                 object
year                   int64
engine_hp            float64
engine_cylinders     float64
transmission_type     object
vehicle_style         object
highway_mpg            int64
city_mpg               int64
price                  int64
dtype: object

In [50]:
numerical_cols=["year","engine_hp","engine_cylinders","highway_mpg","city_mpg"]

In [51]:
df[numerical_cols].corr()

                      year  engine_hp  engine_cylinders  highway_mpg  city_mpg
year              1.000000   0.338714         -0.040708     0.258240  0.198171
engine_hp         0.338714   1.000000          0.774851    -0.415707 -0.424918
engine_cylinders -0.040708   0.774851          1.000000    -0.614541 -0.587306
highway_mpg       0.258240  -0.415707         -0.614541     1.000000  0.886829
city_mpg          0.198171  -0.424918         -0.587306     0.886829  1.000000

## Make price binary
Now we need to turn the price variable from numeric into a binary format.
Let's create a variable above_average which is 1 if the price is above its mean value and 0 otherwise.

In [52]:
mean_price = df["price"].mean()
mean_price

40594.737032063116

In [53]:
df["above_average"] = df["price"].apply(lambda x: 1 if x > mean_price else 0)

In [56]:
df[["price","above_average"]]

       price  above_average
0      46135              1
1      40650              1
2      36350              0
3      29450              0
4      34500              0
...      ...            ...
11909  46120              1
11910  56670              1
11911  50620              1
11912  50920              1
11913  28995              0

[11914 rows x 2 columns]

## Split the data
Split your data in train/val/test sets with 60%/20%/20% distribution.
Use Scikit-Learn for that (the train_test_split function) and set the seed to 42.
Make sure that the target value (price) is not in your dataframe.

In [69]:
from sklearn.model_selection import train_test_split

In [70]:
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

In [71]:
len(df_train), len(df_val), len(df_test)

(7148, 2383, 2383)

In [72]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [73]:
y_train = df_train.above_average.values
y_val = df_val.above_average.values
y_test = df_test.above_average.values

del df_train['price']
del df_val['price']
del df_test['price']

# del df_train['above_average']
# del df_val['above_average']
# del df_test['above_average']

In [74]:
df_train

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,above_average
0,Mitsubishi,Endeavor,2011,225.0,6.0,AUTOMATIC,4dr SUV,19,15,0
1,Kia,Borrego,2009,276.0,6.0,AUTOMATIC,4dr SUV,21,17,0
2,Lamborghini,Gallardo,2012,570.0,10.0,MANUAL,Convertible,20,12,1
3,Chevrolet,Colorado,2016,200.0,4.0,AUTOMATIC,Crew Cab Pickup,27,20,0
4,Pontiac,Vibe,2009,158.0,4.0,AUTOMATIC,4dr Hatchback,26,20,0
...,...,...,...,...,...,...,...,...,...,...
7143,Toyota,Sienna,2016,266.0,6.0,AUTOMATIC,Passenger Minivan,25,18,0
7144,Chevrolet,HHR,2009,260.0,4.0,MANUAL,Wagon,29,21,0
7145,Hyundai,Veracruz,2012,260.0,6.0,AUTOMATIC,4dr SUV,22,17,0
7146,Mitsubishi,Expo,1993,136.0,4.0,MANUAL,2dr Hatchback,26,19,0
7147,Ford,Taurus,2015,365.0,6.0,AUTOMATIC,Sedan,25,17,0

In [75]:
y_train

array([0, 0, 1, ..., 0, 0, 0], dtype=int64)

## Question 3
Calculate the mutual information score between above_average and other categorical variables in our dataset. Use the training set only.
Round the scores to 2 decimals using round(score, 2).
Which of these variables has the lowest mutual information score?

In [76]:
df_train.columns

Index(['make', 'model', 'year', 'engine_hp', 'engine_cylinders',
       'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg',
       'above_average'],
      dtype='object')

In [77]:
df_train.dtypes

make                  object
model                 object
year                   int64
engine_hp            float64
engine_cylinders     float64
transmission_type     object
vehicle_style         object
highway_mpg            int64
city_mpg               int64
above_average          int64
dtype: object

In [78]:
categorical_cols=['make', 'model', 
       'transmission_type', 'vehicle_style']

In [79]:
df_train[categorical_cols].corrwith(df_train.above_average)

Series([], dtype: float64)

In [84]:
round(mutual_info_score(df_train.make, df_train.above_average),2)

0.24

In [85]:
round(mutual_info_score(df_train.model, df_train.above_average),2)

0.46

In [86]:
round(mutual_info_score(df_train.transmission_type, df_train.above_average),2)

0.02

In [87]:
round(mutual_info_score(df_train.vehicle_style, df_train.above_average),2)

0.08

In [89]:
del df_train['above_average']
del df_val['above_average']
del df_test['above_average']

## Question 4
Now let's train a logistic regression.
Remember that we have several categorical variables in the dataset. Include them using one-hot encoding.
Fit the model on the training dataset.
To make sure the results are reproducible across different versions of Scikit-Learn, fit the model with these parameters:
model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
Calculate the accuracy on the validation dataset and round it to 2 decimal digits.
What accuracy did you get?

In [90]:
from sklearn.feature_extraction import DictVectorizer

In [91]:
dv = DictVectorizer(sparse=False)

train_dict = df_train[categorical_cols + numerical_cols].to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val[categorical_cols + numerical_cols].to_dict(orient='records')
X_val = dv.transform(val_dict)

In [92]:
from sklearn.linear_model import LogisticRegression

In [93]:
model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)

model.fit(X_train, y_train)

LogisticRegression(C=10, max_iter=1000, random_state=42, solver='liblinear')

In [95]:
y_pred = model.predict_proba(X_val)[:, 1]

In [96]:
price_decision = (y_pred >= 0.5)

In [98]:
original_acuuracy = round((y_val == price_decision).mean(),2)
original_acuuracy

0.94

## Question 5
Let's find the least useful feature using the feature elimination technique.
Train a model with all these features (using the same parameters as in Q4).
Now exclude each feature from this set and train a model without it. Record the accuracy for each model.
For each feature, calculate the difference between the original accuracy and the accuracy without the feature.
Which of following feature has the smallest difference?

In [108]:
original_accuracy = 0.94
columns = ['make', 'model', 'year', 'engine_hp', 'engine_cylinders',
           'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg']
dv = DictVectorizer(sparse=False)

for column_to_exclude in columns:
    # Create a copy of the original columns list without the current column to exclude
    columns_to_use = [col for col in columns if col != column_to_exclude]
    #print("columns used are",columns_to_use)
    
    # Convert the data to dictionaries and transform using DictVectorizer
    train_dict = df_train[columns_to_use].to_dict(orient='records')
    X_train = dv.fit_transform(train_dict)
    val_dict = df_val[columns_to_use].to_dict(orient='records')
    X_val = dv.transform(val_dict)
    
    # Train the logistic regression model
    model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
    model.fit(X_train, y_train)
    
    # Make predictions on the validation set
    y_pred = model.predict(X_val)
    
    # Calculate accuracy without the current excluded feature
    accuracy = round((y_val == (y_pred >= 0.5)).mean(), 2)
    
    # Calculate the difference in accuracy
    accuracy_difference = original_accuracy - accuracy
    
    print(f"Excluded '{column_to_exclude}': Accuracy Difference: {accuracy_difference}")

Excluded 'make': Accuracy Difference: 0.009999999999999898
Excluded 'model': Accuracy Difference: 0.019999999999999907
Excluded 'year': Accuracy Difference: -0.010000000000000009
Excluded 'engine_hp': Accuracy Difference: 0.019999999999999907
Excluded 'engine_cylinders': Accuracy Difference: -0.010000000000000009
Excluded 'transmission_type': Accuracy Difference: 0.0
Excluded 'vehicle_style': Accuracy Difference: 0.0
Excluded 'highway_mpg': Accuracy Difference: -0.010000000000000009
Excluded 'city_mpg': Accuracy Difference: -0.010000000000000009

In [110]:
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

del df_train['above_average']
del df_val['above_average']
del df_test['above_average']

y_train = np.log1p(df_train.price.values)
y_val = np.log1p(df_val.price.values)
y_test = np.log1p(df_test.price.values)

In [112]:
from sklearn.linear_model import Ridge

In [114]:
dv = DictVectorizer(sparse=False)

train_dict = df_train[categorical_cols + numerical_cols].to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val[categorical_cols + numerical_cols].to_dict(orient='records')
X_val = dv.transform(val_dict)


alpha=[0, 0.01, 0.1, 1, 10]
for a in alpha:
    model = Ridge(solver="sag",alpha=a)
    model.fit(X_train, y_train)
    score=round (model.score(X_train, y_train)),3)
    print (a, score)

C:\Users\DELL\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

0 0.8074736900434264

C:\Users\DELL\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

0.01 0.8074740997313135

C:\Users\DELL\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

0.1 0.8074716672888071

C:\Users\DELL\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

1 0.8074573493517442
10 0.8072880407613923

C:\Users\DELL\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(